# Django Raw SQL Query Demonstration

This notebook demonstrates how to execute raw SQL queries within a Django environment.

## 1. Environment Setup

First, we need to initialize the Django environment. This allows us to access models and database connections.

In [1]:
import os
import django
import sys

# Add the backend directory to sys.path if needed
sys.path.append(os.getcwd())

# Set the settings module
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'core.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

# Initialize Django
django.setup()

## 3. Using `Manager.raw()` to Map Results to Models

You can use `raw()` to execute a query and map the resulting columns directly to model fields.

In [2]:
from table_reserves.models import Table
# from django.db import connection

# sql = """
# INSERT INTO table_reserves_table
#   (number, price_per_hour, seat, description, location_x, location_y, width, length, height)
# VALUES
#   ("1", 100, 4, "create from raw sql", 1, 1, 1, 1, 1)
# """

# with connection.cursor() as cursor:
#     cursor.execute(sql)

table = Table.objects.create(
    number="1",
    price_per_hour=100,
    seat=4,
    description="create from django orm",
    location_x=1,
    location_y=1,
    width=1,
    length=1,
    height=1,
)

## 4. Parameterized Queries

Always use parameters to prevent SQL injection.

In [14]:

def print_t(table):
    print('เลขโต๊ะ: ', table.number, 'ราคาต่อโมง: ', table.price_per_hour, 'คำ: ', table.description, f'id={table.id}',)
    
    
tables = Table.objects.all()[1:]
for table in tables:
    print_t(table)

เลขโต๊ะ:  1 ราคาต่อโมง:  100.00 คำ:  create from raw sql id=2
เลขโต๊ะ:  1 ราคาต่อโมง:  100.00 คำ:  create from django orm id=3
เลขโต๊ะ:  1 ราคาต่อโมง:  100.00 คำ:  create from django orm id=1000000
เลขโต๊ะ:  1 ราคาต่อโมง:  100.00 คำ:  create from django orm id=1000001
เลขโต๊ะ:  1 ราคาต่อโมง:  100.00 คำ:  create from django orm id=1000002

In [ ]:
filter_table = Table.objects.filter(number="10")
print_t(filter_table)

<QuerySet []>

AttributeError: 'QuerySet' object has no attribute 'number'

In [23]:
other_table = Table.objects.get(id=1)
print_t(other_table)

other_table.price_per_hour = 1000
other_table.id = 100
other_table.save()

เลขโต๊ะ:  1 ราคาต่อโมง:  1000.00 คำ:  Table 1 id=1

In [25]:
other_table = Table.objects.filter(seat=4).update(seat=5)

In [26]:
Table.objects.all().delete()

(7, {'table_reserves.Table': 7})

In [27]:
x1 = 0
x2 = 1
for i in range(6):
    if i == 0:
        print(0)
        continue
    
    if i == 1:
        print(1)
        continue
    
    x1, x2 = x2, x1 + x2
    print(x2)

0
1
1
2
3
5